
$peach:       #fab387;
$yellow:      #f9e2af;
$green:       #98971a;
$green_bright:#b8bb26;
$purple:      #d3869b;
$red:         #fb4934;
$blue_soft:   #458588;
$blue:        #83a598;


$subtext1:    #d5c4a1;
$subtext0:    #a6adc8;
$overlay2:    #9399b2;
$overlay1:    #7f849c;
$overlay0:    #6c7086;

$surface2:    #585b70;
$surface1:    #45475a;
$surface0:    #504945;

$base:        #3c3836;
$mantle:      #181825;
$crust:       #11111b;
$text:        #ebdbb2; 

$fg: $text;
$bg: $base;
$bg1: $surface0;
$border: #28283d;
$shadow: black;
