@define-color background #282828;
@define-color foreground #ebdbb2;
@define-color green #98971a;

window {
margin: 0px;
border: 1px solid @green;
background-color: @background;
}

#input {
margin: 5px;
border: none;
color: @foreground;
background-color: @background;
}

#inner-box {
margin: 5px;
border: none;
background-color: @background;
}

#outer-box {
margin: 5px;
border: none;
background-color: @background;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: @foreground;
} 

#entry:selected {
background-color: @green;
}
