/* Global settings */
@define-color gruvboxgreen #98971a;
@define-color gruvboxbg #282828; 
@define-color gruvboxfg #ebdbb2;
@define-color gruvboxgray #3c3836;
* {
    border: none;
    border-radius: 10px;
    font-family: Sans, Awesome, sans-serif;
    font-size: 16px;
    background-color: @gruvboxbg;
    color: @gruvboxfg;
}

/* Bar and stuff */
window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: .3s;
}
window#waybar.hidden {
    opacity: 0.2;
}

#window{
    margin-right: 5px;
    padding:5px;
    border-radius: 10px;
    border: 2px solid @gruvboxgreen;
}


/* Color scheme 1: yellow on somewhat lighter background */
#cpu, #memory, #disk, #backlight, #temperature, #battery, 
#battery.charging, #battery.plugged, #pulseaudio, 
#network, #custom-nmclicheck, #custom-space , #bluetooth, #tray{
    /*background-color: @gruvboxgreen;*/
    margin: 2px; 
    padding: 5px;
    border: 2px solid @gruvboxgreen;
    border-radius: 10px;
}
#custom-nmclicheck{
    margin-left: 0px;
    border-radius: 10px 0px 0px 10px;    
}


#cpu {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    margin-right: 0px;
}
#memory {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    margin-left: 0px;
}

/* Color scheme 1 alt: critical cases for 1 */
#pulseaudio.muted, #battery.critical:not(.charging) {
    background-color: #e78284;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
}
#battery.critical:not(.charging) {
    margin-right: 0px;
}

/* Color scheme 2: stuff in life */
#clock  {
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius:10px;
    border: 2px solid @gruvboxgreen;
}

#workspaces{
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid @gruvboxgreen;
}
#workspaces button{

    color: @gruvboxgray;
}




/* Last color scheme for the logo */
#custom-logo {
    padding: 0 15px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid @gruvboxgreen;
}


