*{
  all: unset;
  font-family: FiraCode Nerd Font Mono;
}

.cal {
  background-color: #282828;
  font-size: 22px;
  font-weight: normal;
  border-radius: 16px;
  border: 3px solid #b8bb26;
  padding: 2px;
  margin-left: 10px;
}

.cal-in {
  padding: 10px 10px 0px 10px;
  border: transparent;
}

calendar {
  color: #ebdbb2;
}

calendar:selected {
  color: #b8bb26;
}

calendar.header {
  color: #98971a;
  font-weight: bold;
}

calendar.button {
  color: #ebdbb2;
}

calendar.highlight {
  color: #98971a;
  font-weight: bold;
}

calendar:indeterminate {
  color: #242424;
}
